# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.env
# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
# Firebase config 
GoogleService-Info.plist
google-services.json
# Google service account
service-account-file.json
# Expo shared (บางทีมี)
.expo-shared/

# Logs
*.log

# Cache / temp
.cache
.parcel-cache

# Coverage
coverage/

# Build output
build/

# Optional npm cache
.npm

# IDE
.vscode/
.idea/
